#header {
	margin: 1em 0;
}

#header > * {
	display: block;
}

#header a {
	display: inline;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

#container div:first-child {
	width: 20em;
	padding-right: 5em;
}

#container div:first-child > div {
	margin: 1em 0;
}

#container div:last-child input, #container div:last-child select {
	display: block;
}

#container div:last-child button {
	margin: 1em 0;
}

#container h1 {
	font-size: 1.2em;
}

#container p {
	font-size: 1em;
	font-style: italic;
	margin: 2em 0;
}

#warning {
	max-width: 40em;
	margin-top: 5em;
}

#warning h1 {
	color: red;
	line-height: 1.5;
}